<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Market Sentiment</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" type="image/ico" href="./assets/favicon/favicon.ico"/>
    <% if (minify.css == true ) { %>
      <link rel="stylesheet" href="marketsentiment.min.css" type="text/css" media="all"/>
    <% } else { %>
      <% resources.css.forEach(function(file){ %>
      <link rel="stylesheet" href="./<%= file %>?dc=<%=new Date().getTime()%>" type="text/css" media="all"/>
    <% }); %>
    <% } %>
  </head>
  <body>
      <% if (minify.js == true ) { %>
        <script type="text/javascript" src="./marketsentiment.min.js"></script>
      <% } else { %>
        <% resources.js.forEach(function(file){ %>
        <script type="text/javascript" src="./<%= file %>"></script>
        <% }); %>
        <script type="text/javascript" src="./ui/application/Marketsentiment.js?dc=<%=new Date().getTime()%>"></script>
      <% } %>
      <script type="text/javascript">
        io.sails.url = '//'+location.host;
      </script>
  </body>
</html>
