<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sentiment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-1><b>Symbol</b></ion-col>
      <ion-col><b>Title</b></ion-col>
      <ion-col><b>Number of watchlists</b></ion-col>
      <ion-col><b>Open</b></ion-col>
      <ion-col><b>Close</b></ion-col>
      <ion-col col-6><b>News</b></ion-col>
    </ion-row>

    <ion-row *ngFor="let symbol of data;let i = index" [hidden]="!symbol.historical[0] || (symbol.historical[0] && symbol.historical[0].open > 100)" [ngClass]="{striped: i%2 === 0}">
      <ion-col class="symbol" col-1>{{symbol.symbol}}</ion-col>
      <ion-col class="title">{{symbol.title}}</ion-col>
      <ion-col class="watchlist-count">{{symbol.watchlist_count}}</ion-col>
      <ion-col class="open">{{symbol.historical[0]?symbol.historical[0].open:''}}</ion-col>
      <ion-col class="close">{{symbol.historical[0]?symbol.historical[0].close:''}}</ion-col>
      <ion-col class="news" col-6>
        <div class="circle" *ngFor="let newsEntry of symbol.news" [ngClass]="getDateClass(newsEntry.date)">
          <div class="title">{{newsEntry.title}}</div>
          <div class="date">{{newsEntry.date|date: 'MM.dd.yy'}}</div>
          <a href="{{newsEntry.link}}" class="link" target="_blank">{{extractHostName(newsEntry.link)}}</a>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
